@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --dark-color: #333;
    --poppins-ff: 'Poppins', sans-serif;
    --users-container-height: 15%;
    --message-form-height: 50px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--dark-color);
    font-family: var(--poppins-ff);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.meeting-container {
    height: 100%;
    width: 100%;
}

.hidden {
    display: none !important;
}

/* Video Container Styles */
.video-container {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - var(--users-container-height));
    width: 100%;
    position: relative;
}

.video-container video {
    width: auto;
    height: 100%;
    max-width: 100%;
}
/* ==================================================== */

/* Events Container Styles */
.events-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    background: rgba(33, 33, 33, 0.7);
    color: white;
    z-index: 3;
    padding: 20px 0;
    transition: background-color 150ms ease-in-out, width 150ms ease-in-out;
    overflow: hidden;
}

.events-container.open {
    width: 35%;
    background: var(--dark-color);
}

.events-container.open .show-events-btns {
    display: none;
}

.show-events-btns button {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 150ms ease-in-out;
}

.show-events-btns button:hover {
    cursor: pointer;
    background: #444;
}

.show-events-btns button + button {
    margin-top: 20px;
}

.show-events-btns button img {
    width: 85%;
    height: 85%;
}

.event-list {
    display: none;
    padding: 0 15px;
    height: 100%;
}

.event-list.show {
    display: flex;
    flex-direction: column;
}

.event-list > div {
    width: 100%;
}

.event-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.event-list-header h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

.event-list-header button {
    background: none;
    color: white;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
}

.event-list-body {
    margin-top: 20px;
    max-height: calc(100% - 60px - 20px);
    height: calc(100% - 60px - 20px);
    overflow-y: auto;
}

.event-list#chat .event-list-body {
    max-height: calc(100% - 60px - 20px - var(--message-form-height));
    height: calc(100% - 60px - 20px - var(--message-form-height));
}

.event-list-body::-webkit-scrollbar {
    width: 7px;
}
  
   
.event-list-body::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 8px;
}

.event-list-body::-webkit-scrollbar-track {
    background: #e4e4e4;
}

.event-list-body::-webkit-scrollbar-thumb:hover {
    background: #666; 
}

.events-container .notification {
    background: white;
    color: #333;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.events-container .notification + .notification {
    margin-top: 20px;
}

.events-container .notification .time {
    padding: 5px 15px;
    font-weight: 300;
    margin-bottom: 10px;
}

.events-container .notification .content {
    padding: 5px 15px;
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 400;
}

.events-container .message{
    background: white;
    color: var(--dark-color);
    padding: 5px 15px;
    border-radius: 4px;
}

.events-container .message + .message {
    margin-top: 10px;
}

.events-container .message-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
}

.events-container .message .username {
    font-weight: bold;
    color: rgb(237, 155, 83);
    font-size: 1.5rem;
}

.events-container .message .message-time {
    font-weight: 300;
    font-size: 1rem;
}

.events-container .message .message-text {
    font-weight: 400;
    font-size: 1.1rem;
}

.events-container form {
    width: 100%;
    display: flex;
    align-items: center;
    height: var(--message-form-height);
    margin-top: 10px;
}

.events-container form input {
    display: block;
    height: 100%;
    width: calc(100% - var(--message-form-height));
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: .95rem;
}

.events-container form button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--message-form-height);
    width: var(--message-form-height);
    background: rgb(66, 66, 220);
    border: none;
    transition: background-color 150ms ease-in-out;
}

.events-container form button:hover {
    background: rgb(48, 48, 169);
    cursor: pointer;
}

.events-container form button img {
    width: 85%;
    height: auto;
}

#chat-btn{
    position: relative;
}

#chat-btn span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background: rgb(212, 45, 45);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    padding: 2px;
}

/* ==================================================== */

/* Users Container Styles */
.carousel {
    height: var(--users-container-height);
    width: 100%;
    position: relative;
    overflow: hidden;
}

.indicator {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    transition: background-color 100ms ease-in-out;
}

.indicator:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
}

.indicator img{
    width: 90%;
    height: auto;
}

.left-indicator {
    left: 0;
}

.right-indicator {
    right: 0;
}

.users-container {
    height: 100%;
    display: flex;
    transition: transform 150ms ease-in-out;
}

.users-container .user {
    --total-users-showing: 7;
    background: #555;
    border: 1px solid var(--dark-color);
    color: white;
    height: 100%;
    flex: 0 0 calc(100% / var(--total-users-showing));
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    transition: background-color 150ms ease-in-out;
}

.users-container .user:hover {
    cursor: pointer;
    background: #666;
}

.users-container .user img {
    width: 55px;
    height: auto;
}

.users-container .user span {
    font-size: 1.5rem;
    margin-top: 5px;
    font-weight: 400;
    text-align: center;
}

.users-container .user img.no-camera {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: auto;
}
/* ==================================================== */

/* Media Queries */
@media(max-width: 1300px) {
    .events-container.open {
        width: 550px;
        max-width: 100%;
    }

    .users-container .user {
        --total-users-showing: 5;
    }

    .users-container .user img {
        width: 40px;
    }
    
    .users-container .user span {
        font-size: 1.2rem;
    }
}

@media(max-width: 900px) {
    .users-container .user {
        --total-users-showing: 3;
    }

    .users-container .user img {
        width: 35px;
    }
    
    .users-container .user span {
        font-size: 1rem;
    }

    .events-container {
        width: 50px;
    }

    .show-events-btns button {
        width: 40px;
        height: 40px;
    }

    .event-list-header h3 {
        font-weight: 500;
        font-size: 1.2rem;
    }
    
    .event-list-header button {
        font-size: 1.5rem;
    }
    
    .event-list-body {
        margin-top: 15px;
        max-height: calc(100% - 60px - 15px);
        height: calc(100% - 60px - 15px);
    }
    
    .event-list#chat .event-list-body {
        max-height: calc(100% - 60px - 15px - 40px);
        height: calc(100% - 60px - 15px - 40px);
    }
    
    .events-container .notification + .notification {
        margin-top: 15px;
    }
    
    .events-container .notification .time {
        padding: 5px 10px;
        margin-bottom: 8px;
    }
    
    .events-container .notification .content {
        padding: 5px 10px;
        font-size: 1rem;
    }
    
    .events-container .message{
        padding: 5px 10px;
    }
    
    .events-container .message-info {
        margin-bottom: 8px;
    }
    
    .events-container .message .username {
        font-size: 1.3rem;
    }
    
    .events-container .message .message-time {
        font-size: .9rem;
    }
    
    .events-container .message .message-text {
        font-size: 1rem;
    }

    .events-container form {
        height: 40px;
    }

    .events-container form button {
        height: 40px;
        width: 40px;
    }
    
    .events-container form input {
        font-size: .9rem;
    }

    #chat-btn span{
        height: 23px;
        width: 23px;
        font-size: .8rem;
    }
}

@media(max-width: 500px) {
    .users-container .user {
        --total-users-showing: 2;
    }

    .indicator {
        width: 35px;
    }
}

@media(max-width: 325px) {
    .users-container .user {
        --total-users-showing: 1;
    }
}
/* ==================================================== */